body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Dark background */
    color: #e0e0e0; /* Light text */
}

header {
    background-color: #262626;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle, .logo, .social-links {
    color: #e0e0e0;
}

.logo{
    border-radius: 2px;
    background-color: #177566;
    width: 27px;
    cursor: pointer;
    font-size: large;
}

.social-links a {
    color: #e0e0e0;
    margin-left: 15px;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.nav-links a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #555;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #6c6868;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('your-background-image.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 150px 0;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-buttons .btn {
    padding: 15px 30px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}

.hero-buttons .primary {
    background-color: #db70c0; /* Purple button */
    color: white;
}

.hero-buttons .secondary {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.about, .projects, .contact {
    background-color: #1a1a1a;
    padding: 80px 0;
    text-align: left;
}

